<h2>
  <%= t(:resend_confirmation_instructions) %>
</h2>

<%= form_for(resource, as: resource_name,
                       url: confirmation_path(resource_name),
                       html: { method: :post }) do |f| %>
  <div class="field">
    <%= f.label t(:email) %>
    <%= f.email_field :email, autofocus: true %>
    <%= f.errors :email %>
  </div>

  <div class="buttons">
    <%= f.submit t(:resend_confirmation_instructions) %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
