<p>
  <%= t(:confirm_help) %>
</p>

<%= form_for(resource, as: resource_name,
                       url: confirm_path) do |f| %>
  <%= render 'devise/passwords/form', f: f %>

  <%= f.hidden_field :confirmation_token, value: @original_token %>

  <div class="buttons">
    <%= f.submit t(:confirm) %>
  </div>
<% end %>
