<h2>
  <%= t(:edit_account) %>
</h2>

<%= form_for(resource, as: resource_name,
                       url: registration_path(resource_name),
                       html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.label t(:email) %>
    <%= f.email_field :email, autofocus: true %>
    <%= f.errors :email %>
  </div>

  <div class="field">
    <%= f.label t(:current_password) %>
    <i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: 'off' %>
  </div>

  <%= render 'devise/passwords/form', f: f %>

  <div class="buttons">
    <%= f.submit t(:update) %>
  </div>
<% end %>
