<h2>
  <%= t(:register) %>
</h2>

<%= form_for(resource, as: resource_name,
                       url: registration_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label t(:email) %>
    <%= f.email_field :email, autofocus: true %>
    <%= f.errors :email %>
  </div>

  <div class="buttons">
    <%= f.submit t(:register) %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
