<ul>
<%- if controller_name != 'sessions' %>
  <li>
    <%= link_to t(:login), new_session_path(resource_name) %>
  </li>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <li>
    <%= link_to t(:register), new_registration_path(resource_name) %>
  </li>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <li>
    <%= link_to t(:forgotten_password), new_password_path(resource_name) %>
  </li>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <li>
    <%= link_to t(:resend_confirmation_instructions), new_confirmation_path(resource_name) %>
  </li>
<% end -%>
