<div class="field">
  <%= f.label t(:password) %>

  <% if @validatable %>
    <i>(<%= t(:min_chars, min: @minimum_password_length) %>)</i>
  <% end %>

  <%= f.password_field :password, autocomplete: 'off', autofocus: true %>
  <%= f.errors :password %>
</div>

<div class="field">
  <%= f.label t(:confirm_password) %>
  <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  <%= f.errors :password_confirmation %>
</div>
