<h2>Change your password</h2>

<%= form_for(resource, as: resource_name,
                       url: password_path(resource_name),
                       html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>

  <%= render 'form', f: f %>

  <div class="buttons">
    <%= f.submit t(:change_password) %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
