<h2>
  <%= t(:forgot_your_password) %>
</h2>

<%= form_for(resource, as: resource_name,
                       url: password_path(resource_name),
                       html: { method: :post }) do |f| %>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
    <%= f.errors :email %>
  </div>

  <div class="buttons">
    <%= f.submit t(:reset_password) %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
