<% unless flash.empty? %>
  <div class="flash_container">
    <% [:notice, :error, :alert, :success].each do |level| %>
      <% unless flash[level].blank? %>
        <div class="flash flash--<%= level %>">
          <div class="flash__message flash__message">
            <%= flash[level].html_safe %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
