<h2>
  <%= t(:welcome) %>
</h2>

<% if user_signed_in? %>
  <%= link_to t(:account), edit_registration_path(current_user) %>
  <%= link_to t(:logout), logout_path %>

  <p>Hi <%= current_user.email %></p>

  <%= debug current_user.audits %>
<% else %>
  <%= link_to t(:register), register_path %>
  <%= link_to t(:login), login_path %>
<% end %>
