<h2>
  <%= t(:login) %>
</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label t(:email) %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label t(:password) %>
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label t(:remember_me) %>
    </div>
  <% end -%>

  <div class="buttons">
    <%= f.submit t(:login) %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
