<!DOCTYPE html>
<html>
<head>
  <title>Space</title>
  <% content_for :stylesheets do %>
    <%= stylesheet_link_tag 'all', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>
  <%= yield(:stylesheets) %>

  <%= javascript_include_tag 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="space <%= params[:controller] %>_page">
<%= render 'shared/header' %>
<%= yield %>
</div>
</body>
</html>
